<html>
    <head>
         <title>CHANGE PASSWORD</title>
    </head>
    <body style="text-align:center;background-color:blue">
          <h1>CHANGE PASSWORD</h1>
          <form action="changepassword.php" method="POST">
              <table style="margin:auto; background-color:red; opacity:0.6">
                  <tbody>
                      <tr>
                          <td>USERNAME:</td>
                          <td><input type="text" name="username" value="'.$_SESSION["login_user"].'" readonly/></td>
                      </tr>
                      <tr>
                          <td>CURRENT PASSWORD:</td>
                          <td><input type="password" name="password"/></td>
                      </tr>
                      <tr>
                          <td>NEW PASSWORD:</td>
                          <td><input type="password" name="newpass"/></td>
                      </tr>
                      <tr>
                          <td>RETYPE NEW PASSWORD:</td>
                          <td><input type="password" name="newpass1"/></td>
                      </tr>
		                  <tr>
			                    <td colspan="2"><input type="submit" value="CHANGE PASSWORD" name="submit"/></td>
                      </tr>
                 </tbody>
              </table>
                          
          </form>
             <a href="main_page.php"><img src="http://logos.co/1024/royalty-free-home-page-icon-logo-by-seamartini-graphics-3501.jpg" width="50" height="50px"/></a>

    </body>
:q
</html>
